<div class="settings__panel">
  <h1 class="settings__title">Settings</h1>

  <div class="settings__groups">
    {{{groups}}}
  </div>
</div>

<div class="settings__preview">
  <div class="settings__preview-board">
    <div class="settings__preview-cards">
      <img class="settings__preview-image" src="{{previewImage}}" alt="{{previewAlt}}" draggable="false" />
    </div>
  </div>

  <div class="settings__breadcrumb">
    <div class="settings__breadcrumb-labels">
      <span class="settings__breadcrumb-label">{{themeText}}</span>
      {{{themeSeparator}}}
      <span class="settings__breadcrumb-label">{{playerText}}</span>
      {{{playerSeparator}}}
      <span class="settings__breadcrumb-label">{{boardSizeText}}</span>
    </div>
    <span class="settings__start-wrapper">
      <button type="button" class="settings__start" {{startDisabledAttribute}}>
        <span class="settings__start-icon">
          <svg width="20" height="16" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect x="1" y="1" width="18" height="14" rx="3" stroke="currentColor" stroke-width="1.5" />
            <path d="M8 4L14 8L8 12V4Z" fill="currentColor" />
          </svg>
        </span>
        Start
      </button>
    </span>
  </div>
</div>
