body {
  height: 100vh;
}

.card {
  height: 100px;
  aspect-ratio: 1/1;
  background-color: transparent;
  border: none;

  &__inner {
    position: relative;
    height: 100%;
    width: 100%;
    transform-style: preserve-3d;
    transition: all 300ms ease-in-out;
  }

  &__face {
    position: absolute;
    inset: 0;
    background-color: black;
    backface-visibility: hidden;


    &--back {
      transform: rotateY(180deg);
      background-color: red;
    }
  }

  &.is-flipped .card__inner {
    transform: rotateY(180deg);
  }
}