@use 'tokens';
@use 'themes';

body {
  height: 100vh;
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: var(--font-family-base);
}

.card {
  height: 100px;
  aspect-ratio: 1/1;
  background-color: transparent;
  border: none;

  &__inner {
    position: relative;
    height: 100%;
    width: 100%;
    transform-style: preserve-3d;
    transition: all 300ms ease-in-out;
  }

  &__face {
    position: absolute;
    inset: 0;
    background-color: var(--color-card-back);
    backface-visibility: hidden;
    border-radius: var(--radius-sm);

    &--back {
      transform: rotateY(180deg);
      background-color: var(--color-accent);
    }
  }

  &.is-flipped .card__inner {
    transform: rotateY(180deg);
  }
}
